   <div class="jumbotron1">
     <h1 class="title">这里不仅卖包，还卖萌!</h1>
     <p class="slogan">专注卖表情包的网站

       <!-- <h2>
        这里不仅<span class="sub-slogan "> 卖包</span>，还<span class="sub-slogan "> 卖萌</span>
      </h2> -->

     </p>

     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上注册</a></p>
   </div>


<!-- 第二部分 多图响应式无限轮播 -->

<div class="module-name decorative">
    <h2 class="section-title">私人定制，专属表情</h2>
    <div class="short-line"></div>
  </div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- 左右切换控制暂时不用这个样式 -->
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="pic">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ffoh09w75jj306406zgng.jpg" >
          <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ffoh8tooacj306506z406.jpg" >
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ffoh2ja1qdj306406ygmx.jpg" >
          <img src="https://ww4.sinaimg.cn/large/006tKfTcly1ffogy7vvscj306506y0u8.jpg" >
      </div>
    </div>

    <div class="item">
      <div class="pic">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ffohls48bdj306506yabm.jpg" >
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ffoho1s03pj306506xta5.jpg" >
          <img src="https://ww2.sinaimg.cn/large/006tKfTcly1ffohqtmp7tj306406z0ts.jpg" >
          <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ffohls48bdj306506yabm.jpg" >
      </div>
    </div>

    <div class="item">
      <div class="pic">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ffogoaa95ej307j082q36.jpg" >
          <img src="https://ww1.sinaimg.cn/large/006tKfTcly1ffogpkac5fj307t07cmxe.jpg" >
          <img src="https://ww3.sinaimg.cn/large/006tKfTcly1ffogqxy0zrj307s07d3ys.jpg" >

      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- end 第二部分 多图响应式无限轮播 -->

<hr>

<!-- 第三部分 为什么选择卖萌网-->

<div id="service" class="row">

  <div class="module-name decorative">
    <span>为什么选择卖萌网？</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="service-item-img text-center">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffm288tjubj305k05kdfz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>一对一服务</h4><br />
          <p>私人定制，专属你的表情</p>
          <p>免去您挑选和犹豫的烦恼 </p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffm288tjubj305k05kdfz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>手绘和编程的组合</h4><br />
          <p>我们一个是手绘高手，一个是编程高手</p>
          <p>艺术与科技的完美组合，共同打造朋友圈独一无二的你。</p>
        </div>

      </div>
      <div class="col-md-4">
        <div class="service-item-img text-center">
          <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ffm288tjubj305k05kdfz.jpg" class="round-image-160">
        </div>

        <div class="service-info text-center">
          <h4>更萌更快，超高性价比</h4><br />
          <p>一周出单，还可加急，你值得拥有！</p>
          <p>专属表情就此轻松拥有</p>
        </div>

    </div>
  </div>

</div>
</div>

<!-- end 第三部分 为什么选择卖萌网-->




<!-- Team -->
    <div id="team" class="team">
        <div class="container">
            <row>
                <h2 class="wow fadeInUp">用 户 反 馈</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">听他们的评价</p>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="2s">
                    <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo7jfhw3vj30690b4q30.jpg">
                    <h4> 顾客s***6</h4>
                    <b></b>
                    <br>
                    <b> 店主超级nice，出图快，
还多送了我一个表情！真的好可爱啊！
等我再来找你做一套。好喜欢！～。</b>
                    <br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.6s">
                  <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo7jfhw3vj30690b4q30.jpg">
                    <h4> 顾客面***悠</h4>
                    <b></b>
                    <br>
                    <b> 哇，可爱到爆炸，美美美，以下省略500字表白。</b>
                    <br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="1.2s">
                  <img class="img-circle" src="https://ww4.sinaimg.cn/large/006tKfTcgy1ffo7jfhw3vj30690b4q30.jpg">
                    <h4>顾客最***8</h4>
                    <b></b>
                    <br>
                    <b> 满分，敲可爱！</b>
                    <br>
                    <b>简直可爱到爆！太喜欢啦！</b>
                    <br>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
            </row>
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</div>
<!-- End Team -->

<!-- end of customer feedback -->
