/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

//-----navbar-----

.navbar-default {
     background-color: #F9B294;  //背景颜色

     border-color: #F9B294; //边框色

     margin-bottom: 0; //底部 margin 不撑开距离

.navbar-nav{
  .active
  a{
    color: #555;
    background-color: #f9b294;//product背景颜色
  }
 }

}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0; //圆角为0
  }
}

//-----navbar-----end

//-----首图------

 .jumbotron1 {
  background-image:url("cat-header.jpg");
  background-repeat: repeat-x;
  background-size: cover;
  // margin-top: 0px;
  margin: 0px -15px 20px;//顶部margin为0，因此可以直接接着导航栏；左右margin为负15，因此可以顶到浏览器的边缘（抵消 container-fluid 的 15px 左右padding);底部margin为20，会跟下面的内容撑开距离

  padding-top: 20px;
  padding-bottom: 100px;
}

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: left;//左对齐
  margin-top: 200px;
  margin-left: 60px;
  margin-bottom: 80px;
}

.slogan {
  margin-top: 50px;
  margin-left: 115px;
  margin-bottom:10px;
  text-align: left;
  color: #f79571;
  font-style: italic;
  font-size: 32px;//字体大小
  top: 12px;
}

.lead {
  margin-top: 80px;
  margin-left: 190px;
  margin-bottom: 60px;
  text-align: left;

.btn.btn-primary-start{
    background-color: transparent;
    color: #f79571;//按钮字体颜色
    border-color: #f79571;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn.btn-primary-start:hover{
    background-color: #f79571;//鼠标移动到按钮上变色
    border-color: #f79571;
    color: #fff;
}

}

//-----首图------end

// 第二部分轮播图

.section-title{
  text-align: center;
  font-size: 18px;
  font-family: inherit; // 后续再修改
  color: #f9b294;
  // text-decoration: underline; 待考虑
  margin-top: 50px;
  margin-bottom: 50px;
}
.short-line {
  color: green;
  line-height: 10px;
}


.carousel-inner img {

  margin-left: 45px;
  background-position: center;
  background-color: red;

}

// 设置向右轮播箭头的颜色
.carousel-control.right {
    left: auto;
    right: -50px;
    color:red;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
  }

  // 设置向左轮播箭头的颜色
  .carousel-control.left {
      right: auto;
      left: -50px;
      color:red;
      background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
      background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0000) 0%, rgba(0, 0, 0, 0) 100%);
      background-repeat: repeat-x;
    }


// 第二部分轮播图 end
